$blue: #61c4d9;
$darkGreen: #0b4d3c;
$containerWidth: 940px;
$baseFontSize: 18px;

// z-indexs


//normalaize
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import "layout";

//components
@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/reviews__display";
@import "components/interective-avatar";
@import "components/order";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";




