@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
html, body {
  height: 100%; }

body {
  font-size: 18px;
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #000; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

.hero {
  background: url("/img/decor/big-leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative; }
  .hero::before {
    position: absolute;
    bottom: -40px;
    left: 2%;
    content: url("/img/decor/corner-leaf.png"); }
  .hero::after {
    position: absolute;
    bottom: -40px;
    right: 0;
    content: url("/img/decor/Group-list.png"); }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px;
  background: url("/img/decor/bars.png") right center/50% auto no-repeat; }

.hero__title-section {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

.hero__main-title {
  font-size: 48px;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase; }

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 28px;
  padding-right: 15%; }

.hero__icon-section {
  display: flex;
  max-width: 484px;
  justify-content: space-between; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4%; }

.menu__list {
  display: flex;
  align-items: center; }

.menu__item {
  margin-right: 27px; }
  .menu__item:last-child {
    margin-right: 0; }

.phone-number {
  font-size: 22px;
  display: flex;
  align-items: center;
  width: 165px; }

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 7px; }

.features {
  display: flex; }

.features__item {
  margin-right: 43px; }
  .features__item:last-child {
    margin-right: 0; }

.feature {
  display: flex; }

.feature__icon {
  width: 45px;
  margin-right: 7px; }

.feature__text {
  font-size: 16px;
  max-width: 85px;
  line-height: 1.1; }
  .feature__text.feature__text--wig {
    max-width: 75px; }

.btn {
  font-size: 17px;
  font-weight: bold;
  padding: 21px 40px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1; }
  .btn--theme--white {
    background: #fff;
    color: #0b4d3c; }
  .btn:hover {
    color: #fff;
    background: #0b4d3c; }

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }

.section--bacgraund--rasp {
  position: relative; }
  .section--bacgraund--rasp:after {
    position: absolute;
    left: 0;
    content: url("/img/decor/leaf-opacity.png"); }
  .section--bacgraund--rasp:before {
    position: absolute;
    left: 0;
    bottom: -100px;
    content: url("/img/decor/rasp.png"); }

.headline {
  text-align: center;
  margin-bottom: 49px; }

.headline__title {
  margin-bottom: 14px; }

.headline__subtitle {
  padding: 0 28%; }

.benefits {
  display: flex;
  justify-content: space-between;
  position: relative; }

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative; }
  .benefits__item:before {
    content: url(/img/decor/separator.png);
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateX(50%); }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-right: 0; }
    .benefits__item:last-child::before {
      display: none; }

.benefit {
  text-align: center; }

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden; }

.benefit__icon {
  width: 70px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.benefit__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  color: #000000; }

.reviews__display {
  background: #f8faf9;
  padding: 50px 45px 34px; }

.reviews__display-inner {
  display: flex; }

.reviews__avatar {
  width: 254px;
  height: 260px; }

.reviews__avatar {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.reviews__content {
  margin-left: 20px; }

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  color: black; }

.reviews__text {
  margin-bottom: 36px; }

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: black; }

.interective-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .interective-avatar--active {
    border-color: #365A49; }

.rinterective-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block; }

.rinterective-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*# sourceMappingURL=main.css.map */
