.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

$blue: #61c4d9;
$darkGreen: #0b4d3c;
$containerWidth: 940px;
$baseFontSize: 18px;


.benefit__icon {
    width: rem(70px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__text {
    display: flex;
    flex-direction: column;

    
}
.benefit__title {
    font-size: rem(27px);
    font-weight: bold;
    color: #000000;

    @include phones {
        margin-bottom: 0;   
    }
}

.benefit__image {
    margin-bottom: rem(19px);

    @include phones {
      margin-bottom: 0;
      margin-right: rem(20px);  
    }
}