$blue: #61c4d9;
$darkGreen: #0b4d3c;
$containerWidth: 940px;
$baseFontSize: 18px;

.btn {
    font-size: rem(17px);
    font-weight: bold;
    padding: rem(21px) rem(40px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    display: inline-block;
    border: none;
    
 
    &--theme--white {
        background: #fff;
        color: $darkGreen;
    }

    &:hover {
        color: #fff;
        background: $darkGreen;
    }

    &--theme--green {
        background: $darkGreen;
        color: #fff;
        padding: rem(22px) rem(40px);
        font-size: rem(14px);

        &:hover {
            color:$darkGreen;
            background: #fff;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #000;
        text-transform: none;
        font-weight: normal;
        padding: rem(19px);

        &:hover {
            background: transparent;
            color:$darkGreen;
        }
    }
}
