.btn {
    font-size: 17px;
    font-weight: bold;
    padding: 21px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    display: inline-block;
    border: none;
    
 
    &--theme--white {
        background: #fff;
        color: #0b4d3c;
    }

    &:hover {
        color: #fff;
        background: #0b4d3c;
    }

    &--theme--green {
        background: #0b4d3c;
        color: #fff;
        padding: 22px 40px;
        font-size: 14px;

        &:hover {
            color:#0b4d3c;
            background: #fff;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #000;
        text-transform: none;
        font-weight: normal;
        padding: 19px;

        &:hover {
            background: transparent;
            color:#0b4d3c;
        }
    }
}
