.form {
    display: flex;
    
    @include tablets {
        padding: 0 17%;
        flex-direction: column;
    }

    @include phones {
        padding: 0;   
    }
}

.form__col {
    flex: 1;
    margin-right: rem(24px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0; 
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(12px);

    @include tablets {
         margin-bottom: rem(10px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    // border: rem(3px) solid #DEE2BD;
    border: rem(3px) solid transparent;
    border-radius: rem(3px);

    &--textarea {
        height: rem(152px);
        resize: none;
        margin-bottom: rem(17px);

        @include tablets {
            height: rem(80px);
        }
    }

    &:focus {
        border-color: #dee2bd;
        outline: none;
    }

    @include tablets {
        padding: rem(9px) rem(5px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(19px);

    @include phones {
        justify-content: center;   
    }

}

.form__btns {
    display: flex;
    justify-content: center;
}