$blue: #61c4d9;
$darkGreen: #0b4d3c;
$containerWidth: 940px;
$baseFontSize: 18px;

$tablets: 768px;
$phones: 480px;


.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4%;

}

