.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;

}
.menu__list {
    display: flex;
    align-items: center;

}
 .menu__item {
    margin-right: 27px;
    
    &:last-child {
        margin-right: 0;
    }
 }

 .phone-number {
    font-size: 22px;
    display: flex;
    align-items: center;
    width: 165px;

 }
 .phone-number__icon-elem {
    width: 14px;
    height: 14px;
    margin-right: 7px;
 }