$blue:#61c4d9;
$darkGreen: #0b4d3c;
$containerWidth: 940px;
$baseFontSize: 18px;

.hero {
    background: url("../img/decor/big-leaf.png") right bottom no-repeat;
     background-color: $blue;
     height: 100vh;
     min-height: rem(650px);
     color: #fff;
     position: relative;

     @include tablets {
        background-position: right bottom 90%;
    } 

    &:before, &:after {
        @include tablets {
            display: none;
        }
    }

     &::before {
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
        content: url("../img/decor/corner-leaf.png");
     }

     &::after {
        position: absolute;
        bottom: rem(-40px);
        right: 0;
        content: url("../img/decor/Group-list.png");
     }
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px);
    background: url("../img/decor/bars.png") right center / 50% auto no-repeat;

    @include tablets {
        background: none;
    }
}

.hero__title-section {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before {
            content: url("../img/decor/hero-bars.png");
            margin-bottom: rem(12px);
        }
    }

  }

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;
}
.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(28px);
    padding-right: 15%;

    @include tablets {
        padding: 0 25%;
    }
}

.hero__icon-section {
    display: flex;
    max-width: rem(484px);
    justify-content: space-between;

    @include tablets {
        display: none;
    }
}