.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 20px;

    &--checkbox {

        margin-bottom: 25px;
       
    
        .radio__visible {
            border-radius: 5px;
       
            &:before {
                background: url(../img/icon/tick.png) center center no-repeat;
            }
        }

    }
}

.radio__elem {
    display: none;

    &:checked + .radio__visible:before {
        
            display: block;
        
    }
}

.radio__visible {
    width: 26px;
    height: 26px;
    position: relative;
    border-radius: 50%;
    background: #ffffff;
    margin-right: 12px;


    &:before {
        content: "";
        width: 14px;
        height: 14px;
        background: #365a49;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}