$blue: #61c4d9;
$darkGreen: #0b4d3c;
$containerWidth: 940px;
$baseFontSize: 18px;

$tablets: 768px;
$phones: 480px;

.section__reviews {
    background: url(../img/decor/reviews-rasp.png) right top no-repeat;
    position: relative;

     
     &:before {
        content: url(../img/decor/reviews-leaf-bottom.png);
        position: absolute;
        left: 0;
        bottom: rem(-100px);
     }

     &:after {
        content: url(../img/decor/reviews-rasp-bottom.png);
        position: absolute;
        left: 0;
        bottom: rem(-25px);
     }
}



.reviews__display {
    padding: rem(50px) rem(45px) rem(34px);
    background: url(../img/decor/reviews-leaf.png) right top no-repeat;
    background-color: #f8faf9;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-65px);
        position: absolute;
    }
}

.reviews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__avatar {
    width: rem(254px);
    height: rem(260px);

        @include tablets {
        width: rem(130px);
        height: rem(132px);
        margin-bottom: rem(35px);
        }
}

.reviews__avatar-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
         
}

.reviews__content {
    flex: 1;
    margin-left: rem(20px);
}

.reviews__title {
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(22px);  
    color: black; 
}

.reviews__text {
    margin-bottom: rem(36px);
    padding-right: 20%;

    @include tablets {
        padding-right: 0;
    }
}

.reviews__author {
    font-size: $baseFontSize;
    font-weight: bold;
    color: black;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}