$blue: #61c4d9;
$darkGreen: #0b4d3c;
$containerWidth: 940px;
$baseFontSize: 18px;

.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color--green {
        color: #365A49;
         
        .section__title {
            color: inherit;
        }
    }

}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.section--bacgraund--rasp {
    position: relative;
    
    &:after {
        position: absolute;
        left: 0;
        
        content: url("../img/decor/leaf-opacity.png");
    }

    &:before {
        position: absolute;
        left: 0;
        bottom: rem(-100px);
        content: url("../img/decor/rasp.png");
    }
}